DOMAIN:443 {
root WEB_DIR
gzip
log stdout
tls CERT_DIR/DOMAIN.crt CERT_DIR/DOMAIN.key
forwardproxy {
#	probe_resistance	DOMAIN
	basicauth yataomei	naihemeise
}
filemanager FILE_PATH WEB_DIRFILE_PATH {
	no_auth
	AUTH_USER:
	allow_new true
	allow_edit true
	allow_commands true
	allow_command cp
}
basicauth FILE_PATH AUTH_USER AUTH_PASS
}
